body {
  background-color: #ffffff;
}
.myName {
  font-family:Garamond;
  font-color:#202020;
  padding:20px 0px 20px 0px;
}
.jobDescriptors {
  font-family:Garamond;
  text-align:center;
  
  }
ul li {
  display:inline-block;
  margin:0px 10px 20px 10px;
padding:10px 5px 10px 5px;
  border-bottom:1px solid;
  border-left:0px solid;
  border-color:black;
}

.aboutMe {
  background-color:#ffe6e6;
  margin:30px 10px 10px 10px;
  padding:20px 10px 10px 20px;
  font-family:timesnewroman;
  font-size:18px;
  border-top:1px;
  border-left:3px;
}
